<!doctype html>
<html lang="en">
<head>
  <title>OpenEMR Client</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <h1>OpenEMR Client</h1>
      <div id="app">
        <p>Logged in as: {{userName}}</p>

        <h2>Patients</h2>
        <button class="btn btn-primary" @click="getPatients">Get Patients</button>
        <button class="btn btn-primary" @click="clearPatients">Clear Patient Table</button>
        <div v-if="patientData.length > 0">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="patient in patientData">
                <td>{{patient.id}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.gender}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2>Practitioners</h2>
        <form enctype="multipart/form-data" action="/practitioner" method="post">
          <input type="file" name="file">
          <input type="submit">
        </form>

        <h2>Facilities</h2>
        <button class="btn btn-primary" @click="getFacilities">Get Facilities</button>
        <button class="btn btn-primary" @click="clearFacilities">Clear Facility Table</button>
        <div v-if="facilityData.length > 0">
          <table class="table table-striped">
            <thead class="thead-light">
            <tr>
              <th>ID</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="facility in facilityData">
              <td>{{facility.id}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <br/>
        <form enctype="multipart/form-data" action="/facility" method="post">
          Upload facilities
          <input type="file" name="file">
          <input type="submit">
        </form>

      </div>
      <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
      <script type="text/javascript" src="/webjars/vue/vue.js"></script>
      <script type="text/javascript" src="app.js"></script>
    </div>
  </body>
</html>
